section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.list {
  display: flex;
  border: 1px solid black;
  align-items: center;
  border-radius: 30px;
  justify-content: space-around;
}
